<%- include("partials/header") -%>

<div class="container-fluid colored-section">
  <h1 class="big-heading">Create a new shop</h1>
</div>

<div class="container-fluid">
  <p>Your shop would not be created until payment ($20) is approved</p>
  <form class="create-article" action="/createshop" method="POST">
    <div class="form-group">
      <label for="text">Shop Name</label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
      <label for="email">Shop Email</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label>Pick country</label>
      <select class="" name="country">
        <option value="NGN">Nigeria</option>
        <option value="GHS">Ghana</option>
        <option value="KES">Kenya</option>
        <option value="USD">UK</option>
      </select>
    </div>
    <div class="form-group">
      <label for="text">Bank Name</label>
      <input type="text" class="form-control" name="bank">
    </div>
    <div class="form-group">
      <label for="text">Account Number</label>
      <input type="text" class="form-control" name="account_number">
    </div>
    <button type="submit" class="btn btn-dark">Create Store</button>
  </form>
</div>

<%- include("partials/footer") -%>