<div class="container-fluid colored-section">
  <h1 class="big-heading">Create a new shop</h1>
</div>

<div class="container-fluid">
  <p>Your shop would not be created until payment ($20) is approved</p>
  <form class="create-article" action="/createshop" method="POST">
    <div class="form-group">
      <label for="text">Shop Name</label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
      <label for="email">Shop Email</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label for="password">Country</label>
      <select class="" name="country">
        <option value="Nigeria">Nigeria</option>
        <option value="Ghana">Ghana</option>
        <option value="Kenya">Kenya</option>
        <option value="UK">UK</option>
      </select>
    </div>
    <div class="form-group">
      <label for="text">Bank Name</label>
      <input type="text" class="form-control" name="bank">
    </div>
    <div class="form-group">
      <label for="text">Account Number</label>
      <input type="text" class="form-control" name="account_number">
    </div>
    <button type="submit" class="btn btn-dark">Create Store</button>
  </form>
</div>
