<h1>Welcome</h1>
<button class="btn btn-dark" type="button" onclick="location.href='/login'">login</button>
<button class="btn btn-dark" type="button" onclick="location.href='/register'">register</button>
