<h1>Welcome <%= vendor.username %></h1>
<button class="btn btn-dark" type="button" onclick="location.href='/createshop'">Create a shop</button>


<% vendor.shops.map((shop) => { %>
  <p><%= shop.id %></p>
  <p><%= shop.name %></p>
  <button type="button" name="button" onclick="location.href='/shops/<%= shop.id %>'">visit shop</button>
<% }); %>
