* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 300;
  width: 100%;
  height: 100%;
}

.container {
  padding: 2% 0;
}

.btn {
  margin: 2%;
}

.center {
  text-align: center;
}

.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.sub-heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.shop {
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  padding: 2%;
  margin: 16px;
}

.shop .heading {
  border-radius: 10px 10px 0 0;
  height: 150px;
  padding: 2%;
  margin: auto;
  /* overflow-y: auto; */
  background-color: #f5f5f5;
}

.shop .content {
  padding: 2%;
  height: 150px;
  overflow-y: auto;
}

.shop button {
  position: relative;
  float: right;
  margin-right: 10px;
  box-shadow: 0 2px 5px #ccc;
  border: none;
  cursor: pointer;
  outline: none;
}

img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}